* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    direction: ltr;
}

.cover {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
}

.logodiv {
    padding-left: 38px;
    display: flex;
}

.logo img {
    max-width: 25px;
    height: auto;
}

.COMPANYLOGO {
    margin-top: 5px;
    padding-right: 80px;
    margin-right: 70px;
}

.COMPANY {
    font-weight: bold;
    font-size: 15px;
}

.LOGO {
    font-size: 15px;
}

.links-holder {
    padding-right: 60px;
    display: flex;
    color: black;
    font-weight: bold;
}

.link {
    padding-right: 130px;
    font-size: 20px;
    color: #27262b;
    font-weight: bold;
    text-decoration: none;
}

.Website {
    padding-right: 10px;
}

.Emoji {
    max-width: 10px;
    height: auto;
    display: flex;
    margin-left: 35px;
}
    .Emoji img {
        width: 25px;
        padding-right: 5px;
    }
        .Website-link {
            padding-left: 20px;
        }

        .main-Content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .Yellowbackground {
            height: 480px;
            padding: 39px 185px;
            background-color: #ffc107;
            flex: 1;
        }

        .Main-text {
            font-size: 100px;
            font-weight: bold;
            color: #222;
        }

        .Second-Content {
            background-color: #ffffff;
            padding: 45px 174px;
            flex: 1.5;
            height: 300px;
        }

        .Second-text {
            font-size: 55px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .text {
            font-size: 25px;
        }

        .Third-Content {
            background-color: #222;
            color: white;
            padding: 20px 60px;
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .BOOK {
            background-color: #ffc107;
            color: black;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            padding: 12px 30px;
            border-radius: 25px;
            font-weight: bold;
            cursor: pointer;
        }

        .Picture {
            flex: 1;
            margin-left: 1054px;
            position: absolute;
        }

            .Picture .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                overflow: hidden;
            }